@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

$main-color: #2c3e50;
$light-color: #ecf0f1;
$secondary-color: #16a085;

$main-font: 'Roboto', sans-serif;

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: $main-color;
  color: $light-color;
  font-family: $main-font;
  display: flex;
  min-height: 100vh;
}

.site-content {
  background: $main-color;
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav {
  background: $light-color;
  color: $main-color;
  width: 260px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

nav h1 {
  font-weight: 300;
  font-size: 40px;
}

nav p {
  font-weight: 300;
  color: $secondary-color;
  font-size: 18px;
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px dashed $secondary-color;
  text-transform: uppercase;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-topic {
  flex-grow: 1;
  margin: 30px 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
}

.image-box {
  height: 450px;
  width: 450px;
  margin-left: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('https://picsum.photos/500');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
}

#quote-text {
  font-size: 30px;
  font-weight: 700;
  margin: 10px;
  text-align: center;
}

#quote-source {
  font-size: 20px;
}

.black-quote {
  color: black;
  text-shadow: 0 0 10px 2px white;
}

.white-quote {
  color: white;
  text-shadow: 0 0 10px 2px black;
}

.teal-quote {
  color: $secondary-color;
  text-shadow: 0 0 10px 2px white;
}

.nav-buttons {
  margin-top: 20px;
}

.btn-container {
  margin-top: 20px;
}

.btn-divider {
  height: 20px;
}

.btn {
  background: $main-color;
  color: $light-color;
  margin: 5px 0;
  padding: 5px;
  font-size: 1rem;
  line-height: 1.8;
  border-radius: 2px;
  white-space: nowrap;
  transition: all 500ms;
}

.btn:hover {
  cursor: pointer;
  background: $secondary-color;
}

.btn-black {
  background: black;
  margin-right: 10px;
}

.btn-white {
  border: 1px solid black;
  background: white;
  color: black;
  margin-right: 10px;
}

.btn-white:hover {
  color: $light-color;
}

.subtitle {
  margin-top: 40px;
  margin-bottom: 15px;
}

.nav-footer {
  margin-top: 50px;
  color: $main-color;
  font-size: 12px;
}

.nav-footer a,
.nav-footer p {
  font-size: 12px;
  color: $main-color;
  text-decoration: none;
  transition: all 500ms;
}

.nav-footer a:hover {
  color: $secondary-color;
}
.share-area {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: transparent;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: $secondary-color;
  transition: all 500ms;
}

.fa:hover {
  cursor: pointer;
  background: $light-color;
  color: $secondary-color;
}

@media (max-width: 560px) {
  * {
    width: 100vw;
  }
  body {
    flex-wrap: wrap;
  }

  .btn-divider {
    display: none;
  }

  .subtitle {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .image-box {
    max-width: 85vw;
    max-height: 85vw;
    margin-left: -20px;
  }

  .site-content {
    text-align: center;
    margin: 0;
  }

  .content-topic {
    text-align: center;
  }

  #quote-text {
    font-size: 24px;
  }

  #quote-source {
    font-size: 16px;
  }

  nav {
    width: 100vw;
  }
  nav h1 {
    font-size: 24px;
  }

  .nav-footer {
    margin-top: 20px;
    color: $main-color;
    font-size: 12px;
  }

  .image-area-container {
    text-align: center;
  }

  .share-area {
    position: relative;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
  }
}

@media (max-width: 360px) {
  #quote-text {
    font-size: 20px;
  }

  #quote-source {
    font-size: 12px;
  }
}
